<configuration>
    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="fraud-detection"/>
    <springProperty scope="context" name="rootLevel" source="logging.level.root" defaultValue="INFO"/>
    <springProperty scope="context" name="jsonLoggingEnabled" source="logging.json.enabled" defaultValue="true"/>

    <appender name="JSON_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                          "app":"${appName}",
                          "level":"%level",
                          "logger":"%logger",
                          "thread":"%thread",
                          "message":%jsonMessage,
                          "trace":"%X{traceId:-}",
                          "span":"%X{spanId:-}"
                        }
                    </pattern>
                </pattern>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <appender name="PLAIN_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level [%thread] %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <if condition='"true".equals("${jsonLoggingEnabled}")'>
        <then>
            <root level="${rootLevel}">
                <appender-ref ref="JSON_STDOUT"/>
            </root>
        </then>
        <else>
            <root level="${rootLevel}">
                <appender-ref ref="PLAIN_STDOUT"/>
            </root>
        </else>
    </if>
</configuration>
